@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* page */
:root{
  --primary-color: #0e9857;
  --secondary :#ffba43;
  --bg: #dbf4e8;
  --black: #1c2137;
  --white: #fff;
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width: .8rem;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary-color);
  border-radius: 5rem;
}

section{
  padding: 2rem 7%;
}

/* navbar */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--main-color);
  box-shadow: var(--box-shadow);
}
.heading{
  text-align: center;
  padding: 1.2rem 0;
  margin-bottom: 3rem;
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 4rem;
}

.heading span{
  color: var(--secondary);
  text-transform: uppercase;
}

header .navbar a{
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 1rem;
}

.header .navbar a:hover{
  color: var(--primary-color);
}

.header .icons div{
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header .icons div:hover{
  color: var(--primary-color);
}

.search-box {
  display: none;
}

/* body */
.container {
  width: 80%;
  font-size: 1.5rem;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--bg);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
  color: var(--main-color);
}

/* buttons */
.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  color: var(--white);
  border-radius: .5rem;
  background: var(--primary-color);
  cursor: pointer;
}

.btn:hover{
  color: var(--white);
  background: var(--secondary);
  box-shadow: var(--box-shadow);
}

/* logo */
.logo img {
  height: 60px;
}

/* search icon */
.search-container {
  display: none;
  position: absolute;
  top: 100px; /* Adjust as needed */
  background: #dbf4e8;
  padding: 10px;
  right: 10px;
  border-radius: 5px;
  border-radius: 5px;
  color: var(--secondary);
  box-shadow: var(--box-shadow);
}

.search-container input {
  width: 300px; /* Adjust as needed */
  padding: 10px;
  border: 1px;
  border-radius: 3px;
  font-size: 1rem;
}

.search-container.active {
  display: block; /* Show when active */
}

/* cod esewa higlight */
.highlight {
  font-weight: bold;
  color: var(--text-color);
}

/* image */
.image {
  max-width: 50%; /* Set the maximum width for the container */
  margin: 0 auto; /* Center the container */
  text-align: center; /* Center the image inside the container */
}

.image img {
  width: 100%; /* Make the image take up the full width of the container */
  height: auto; /* Maintain the aspect ratio of the image */
}


/* footer */
.footer{
  background: var(--bg);
  text-align: center;
}

.footer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3{
  font-size: 2.2rem;
  text-transform: capitalize;
  color: var(--primary-color);
  padding: 1rem 0;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  line-height: 2;
  color: var(--black);
  padding: 1rem 0;
}

.footer .box-container .box .share{
  margin-top: 1rem;
}

.footer .box-container .box .share a{
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  border-radius: 10%;
  font-size: 1.7rem;
  background: var(--primary-color);
  color: var(--white);
  margin-right: .3rem;
  text-align: center;
}

.footer .box-container .box .share a:hover{
  background: var(--secondary);
}

.footer .box-container .box .link{
  font-size: 1.7rem;
  line-height: 2;
  color: var(--primary-color);
  padding: .5rem 0;
  display: block;
}

.footer .box-container .box .link:hover{
  color: var(--secondary);
}

.footer .credit{
  text-align: center;
  margin-top: 3rem;
  padding-top: 3rem;
  font-size: 2rem;
  text-transform: capitalize;
  color: var(--primary-color);
  border-top: .1rem solid var(--black);
}

.footer .credit span{
  color: var(--secondary);
}